.search-bar-container {
  margin-bottom: 20px;
  width: 100%; /* Ocupa toda a largura do contêiner pai */
  max-width: 400px; /* Limita a largura máxima */
  margin-right: 50px;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 25px; /* Bordas arredondadas */
  font-size: 1em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  
}

.search-input:focus {
  border-color: #4CAF50;;
  box-shadow: 0 0 0 3px #4CAF50;;
  outline: none; /* Remove o contorno padrão ao focar */
}