.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color:#4CAF50;  /* Um verde bonito para o cabeçalho */
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.app-header h1 {
  margin: 0;
  font-size: 3em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.app-main {
  flex-grow: 1; /* Ocupa o espaço restante */
  padding: 20px 0;
}

.app-footer {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

.app-footer a {
  text-decoration: none;
  color: #4CAF50;
}