/* Reset CSS Básico */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remova o conteúdo padrão do App.css que vem com o Vite se não for usar */
/* Você pode limpar ou remover o arquivo App.css se preferir colocar tudo aqui */